@page
@model WebApplication22.Pages.Admin.Credito.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post">
    <label>Descrição:</label>
    <input type="text" asp-for="Credit.Description" class="form-control" />
    <br />
    <div>
        <input type="submit" value="Criar" class="btn btn-success" /> <a asp-page="Index" class="btn btn-danger"><< Voltar</a>
    </div>
</form>    
