@page
@model WebApplication22.Pages.Admin.Credito.CreateModel
<h4>Crédito - Cadastro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Descrição:</label>
                <input type="text" asp-for="Credit.Description" class="form-control" />
            </div>
            <div>
                <input type="submit" value="Criar" class="btn btn-success" /> |
                <a asp-page="Index" class="btn btn-danger"><< Voltar</a>
            </div>
        </form>
    </div>
</div>
