@page "{id:int?}"
@model WebApplication22.Pages.Admin.Credito.EditModel

<form method="post">
    <label>Descrição:</label>
    <input type="hidden" asp-for="Credit.Id" />
    <input type="text" asp-for="Credit.Description" class="form-control" />
    <br />
    <div>
        <input type="submit" value="Alterar" class="btn btn-primary" /> <a asp-page="Index" class="btn btn-danger"><< Voltar</a>
    </div>
</form>
    
