@page
@model WebApplication22.Pages.ElementosModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@{
    ViewData["Title"] = "Elementos";
}

@functions{

}
@addTagHelper *, WebApplication22.TagHelpers

<h2>Elementos</h2>

<p>@Model.Message</p>





