@page
@model WebApplication22.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>O Razor Pages Funcionando ....</h1>
</body>
</html>
