@page "{handler?}"
@model WebApplication22.Pages.TestModel

<table class="table table-bordered">
    <tr>
        <th style="width:10%;text-align:center">Código</th>
        <th style="width:90%;text-align:center">Nome</th>
        <th style="width:10%;text-align:center">Status</th>
    </tr>
    @foreach (var item in Model?.Peoples)
    {
    <tr>
        <td style="text-align:center">@item.Id</td>
        <td style="text-align:left">@item.Name</td>
        <td style="text-align:center">@item.Active</td>
    </tr>
    }
</table>
<div>
    <a asp-page="Test">Todos</a> |
    <a asp-page="Test" asp-page-handler="Active">Somente os Ativos</a> |
    <a asp-page="Test" asp-page-handler="Inactive">Somente os Inativos</a>
</div>