@page "{id}"
@model WebApplication22.Pages.Users.EditModel
@{ ViewData["Title"] = "Edit"; }
<h4>Usuários - Modificações</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for="ApplicationUser.Id" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="UserName" class="control-label">Usuário/E-mail:</label>
                <input asp-for="ApplicationUser.UserName" class="form-control" />
                <span asp-validation-for="ApplicationUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Password" class="control-label">Senha:</label>
                <input name="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Password" class="control-label">Tipo de Usuário:</label>
                @Html.DropDownList("Role")
            </div>
            <div class="form-group">
                <input type="submit" value="Alterar" class="btn btn-default" /> |
                <a asp-page="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(document).ready(function(){
        $("#Role").addClass("form-control");
    });
    </script>
}