@page
@model WebApplication22.Pages.Users.IndexModel
@{ ViewData["Title"] = "Index"; }
<h4>Usuários</h4>
<hr />
<p>
    <a asp-page="Create">Novo Registro</a>
</p>
<br />
<table class="table table-bordered">
    <tr>
        <th style="text-align:center">
            Nome do usuário
        </th>
        <th style="text-align:center">
            E-mail
        </th>
        <th style="text-align:center">...</th>
    </tr>
    @foreach (var item in Model.ApplicationUser)
    {
        <tr>
            <td style="width:40%;text-align:left">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td style="width:35%;text-align:center">
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td style="width:25%;text-align:center">
                <a asp-page="./Edit" asp-route-id="@item.Id">Alterar</a> |                
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
    }
</table>
